<p id="notice"><%= notice %></p>

<p>
  <strong>Rule name:</strong>
  <%= @business_priority.rule_name %>
</p>

<%= link_to 'Edit', edit_business_priority_path(@business_priority) %> |
<%= link_to 'Back', business_priorities_path %>
